body{
  font-family: 'Poppins', sans-serif;
  background-color: #131419;
  display: flex;
  justify-content: center;
}

html{
  scroll-behavior: smooth;
}

.title{
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  opacity: 95%;
  height: 100vh;
  width: 100%;
  padding-top: 10%;
  color: white;
}

.button-down{
  margin-top: 12%;
  align-items: center;
  background-color: #131419;
  box-shadow:
   12px 12px 16px 0 rgba(0,0,0,.51),
   -8px -8px 12px 0 rgba(255,255,255,.05);
  border-radius: 30px;
  height: 10vh;
  color: white;
  border: none;
  justify-content: center;
  width: 20vh;
}

.button-down:active{
  position: relative;
  top: 1px;
  box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, .51) inset,
    -8px -8px 12px 0 rgba(255, 255, 255, 0.05) inset;
}

.icon-down{
  opacity: 55%;
}

.button2{
  width: 20%;
  float: right;
  margin-top: 20%;
}

.button3{
  margin-left: -150%;
  margin-top: -20%;
  width: 25%;
}

.button-os{
  margin-top: 2%;
  align-items: center;
  background-color: #131419;
  box-shadow:
   12px 12px 16px 0 rgba(0,0,0,.51),
   -8px -8px 12px 0 rgba(255,255,255,.05);
  border-radius: 30px;
  height: 8vh;
  color: white;
  border: none;
  justify-content: center;
  width: 20vh;
}

.button-os:active{
  position: relative;
  top: 1px;
  box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, .51) inset,
    -8px -8px 12px 0 rgba(255, 255, 255, 0.05) inset;
}

.icon-os{
  opacity: 55%;
}

.about{
  font-size: 22.8px;
  color: white;
  height: 100vh;
  width: 90%;
  opacity: 100%;
  padding-top: 20%;
  padding-left: 3%;
  float: left;
}

.element1{
  align-items: center;
  background-color: #131419;
  box-shadow:
   12px 12px 16px 0 rgba(0,0,0,.51),
   -8px -8px 12px 0 rgba(255,255,255,.05);
  border-radius: 50px;
  display: flex;
  height: 85vh;
  justify-content: center;
  margin-right: 4rem;
  margin-left: 2%;
  width: 77%;
}

.element2{
  align-items: center;
  background-color: #131419;
  box-shadow:
   12px 12px 16px 0 rgba(0,0,0,.51),
   -8px -8px 12px 0 rgba(255,255,255,.05);
  border-radius: 40px;
  display: flex;
  height: 20vh;
  justify-content: center;
  margin-right: 4rem;
  margin-left: 50%;
  width: 20vh;
  margin-top: -39%;
  color: white;
  font-size: 30px;
}

.user-interface{
  font-size: 21px;
  color: white;
  height: 85vh;
  width: 45%;
  opacity: 100%;
  float: right;
  margin-top: 7%;
  margin-right: -42%;
  text-align: right;
}

.element3{
  align-items: center;
  background-color: #131419;
  box-shadow:
   12px 12px 16px 0 rgba(0,0,0,.51),
   -8px -8px 12px 0 rgba(255,255,255,.05);
  border-radius: 50px;
  display: flex;
  height: 85vh;
  float: right;
  justify-content: center;
  width: 78%;
  margin-top: 45%;
  margin-right: -15%;
}

.element4{
  align-items: center;
  background-color: #131419;
  box-shadow:
   12px 12px 16px 0 rgba(0,0,0,.51),
   -8px -8px 12px 0 rgba(255,255,255,.05);
  border-radius: 50px;
  display: flex;
  height: 60vh;
  float: left;
  margin-left: -92%;
  margin-top: 10%;
  justify-content: center;
  width: 60vh;
  }

.types{
  opacity: 58%;
  width: 75%;
  font-size: 18px;
  text-align: left;
}

.text{
  opacity: 60%;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  margin-top: 95%;

}

.container .card{
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 12px 12px 16px 0 rgba(0,0,0,.51),
              inset -8px -8px 12px 0 rgba(255,255,255,.05),
              12px 12px 16px 0 rgba(0,0,0,.51),
              -8px -8px 12px 0 rgba(255,255,255,.05);
  border-radius: 50px;
  margin: 30px;
}

.container .card::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.container .card .box{
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 2px solid #1e1f23;
  border-radius: 45px;
  background-color: #131419;
  box-shadow:
   12px 12px 16px 0 rgba(0,0,0,.51),
   -8px -8px 12px 0 rgba(255,255,255,.05);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container .card .box::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  pointer-events: none;
}

.container .card .box:hover{
  transform: translateY(-50px);
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
}

.container .card .box .content{
  padding: 20px;
  text-align: center;
}

.container .card .box .content h2{
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.05);
}

.container .card .box .content h3{
  font-size: 1.8em;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  transition: 0.5s;
}

.container .card .box .content p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  transition: 0.5s;
}
